<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Love Probablity Calculator</title>
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  
   <body class="<%= loveImage %>">
