<%- include("header") -%>

<div class="box">
  <h1>
    Your love score is
    <%= loveResult %>%.
  </h1>
</div>

<div class="boxComment">
  <h2>
    <%= loveComment %>
  </h2>
</div>

<div class="back">
  <FORM>
    <INPUT type="button" Value="BACK" onClick="history.go(-1);">
  </FORM>
</div>

<!-- <div class="back">
  <a href="/"><button>Back</button></a>
</div> -->

<%- include("footer") -%>
