body {
  text-align: center;
  color: #ffffff;
  background-color: #C0C0C0;            /* 背景色 */
  /* background-image: url(images/fortune.jpg); */
  background-size: cover;               /* 全画面 */
  background-attachment: fixed;         /* 固定 */
  background-position: center center;/* 縦横中央 */
  width: 100%;
  height: auto;
}

h1 {
  font-family: 'Bad Script', cursive;
  font-size: 6rem;
}

.home {
background-image: url(images/fortune.jpg);
}

.lovebirds {
background-image: url(images/lovebirds.png);
}

.effort {
background-image: url(images/perseverance.jpg);
}

.oilwater {
background-image: url(images/oilwater.png);
}

h2 {
  font-size: 4rem;
}

input{
  font-size: 180%;
  padding: 5px 10px;
  border-style: none;
  border-radius: 3px;
  outline: none;
}


button.button2 {
  background-color: pink;
  font-size: 180%;
  padding: 5px 10px;
  border-style: none;
  border-radius: 3px;
  outline: none;

  -moz-box-shadow: 2px 2px 3px 1px #666;
  -box-shadow: 2px 2px 3px 1px #666;
  -webkit-box-shadow: 2px 2px 3px 1px #666;
}

.back {
  font-size: 130%;
  padding: 5px 10px;
  border-style: none;
  border-radius: 3px;
  outline: none;
}

/* .back {
  font-size: 1.2rem;
  padding: 5px 10px;
  border-style: none;
  border-radius: 3px;
  outline: none;

  -moz-box-shadow: 2px 2px 3px 1px #666;
  -box-shadow: 2px 2px 3px 1px #666;
  -webkit-box-shadow: 2px 2px 3px 1px #666;
} */


.footer-padding {
	padding-bottom: 80px;
}


.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: #222222;
  /* margin-left: -15px; */
}

.footer p {
	margin-top: 27px;
	font-size: 25px;
  color: #fff;
}
